.ingredientItem {
  background-color: rgb(218, 255, 225);
  border-radius: 8px;
  padding: 22px 12px;
  font-size: 0.85rem;
  height: fit-content;
  box-sizing: border-box;
  overflow-y: hidden;
}

.ingredientItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.addBtn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}